<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests/Backoffice" />
        <option value="$PROJECT_DIR$/tests/Mooc" />
        <option value="$PROJECT_DIR$/tests/Shared" />
      </list>
    </option>
  </component>
</project>